<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763462430047-s6g42m8gaihj3ut99l2askt4tb0d1r1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763462430047-s6g42m8gaihj3ut99l2askt4tb0d1r1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBdCyJPf7xXBtZlVdR-zRpcEMEvGnuUh3w</string>
	<key>GCM_SENDER_ID</key>
	<string>763462430047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashankprabhakar.EventSource</string>
	<key>PROJECT_ID</key>
	<string>eventsource-b94c7</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsource-b94c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763462430047:ios:67b55589ebe87aac5d1aea</string>
	<key>DATABASE_URL</key>
	<string>https://eventsource-b94c7.firebaseio.com</string>
</dict>
</plist>